# Environment Secrets
.env
.env.local
firebase_service_account.json

# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.env

# SQLite Databases & Local Storage
*.db-wal
*.db-shm

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Laravel
laravel_app/vendor/
laravel_app/.env
laravel_app/storage/*.key
